@import 'mixins', 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include flex-central-alignment;
    height: 100vh;
    background-color: #222;
    background-size: cover;
    background-image: url('https://source.unsplash.com/1600x900/?auto=format');
}